<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/attraction.css">
  <!-- <link rel="stylesheet" href="/static/css.css"> -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="nav-wrapper">
    <div class="nav">
        <div class="taipei">
          <a href="/">台北一日遊</a>
        </div>

        <div class="a">
          <div><a href="#">預定行程</a></div>
          <div><a href="#">登入/註冊</a></div>
        </div>
    </div>
  </header>


  <main>
    <div class="wrapper-1">
      <div class="attraction-and-booking">
        <div class="attraction-img-wrapper">
          <img class="attraction-img" src="/" alt="img">
        </div>


        <div class="booking">
            <p class="attraction-name">平安鐘</p>

            <p class="attraction-class-mrt">公共藝術 at 忠孝復興</p>

            <div class="booking-detail">
              <p class="detail-1">訂購導覽行程</p>
              <p class="detail-2">
                以此景點為中心的一日行程，帶您探索城市角落故事
              </p>
              <div class="date-picker">
                <p>選擇日期：</p>
                <div class="calendar">
                  <input type="date">
                </div>
              </div>
              
              <div class="time-picker">
                <p>選擇時間：</p>
                <form action="" class="time-picker-form">
                  <label class="time-picker-label-1" for="morning">
                    <input name="time-picker" id="morning" value="morning" type="radio" class="time-picker-btn" required>上半天
                  </label>
                  
                  <label for="afternoon">
                    <input name="time-picker" id="afternoon" value="afternoon" class="time-picker-btn" type="radio">下半天
                  </label>
                </form>
              </div>

              <div class="nav-fee">
                <p class="a">導覽費用：</p>

                <p class="price">請選擇時間</p>
              </div>

              <div class="booking-btn">
                <p>
                  開始預約行程
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="wrapper-2">
      <div class="attraction-info"><!-- 這個就不用flex了讓子元素自動width100% -->
        <p class="description">平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。</p>

        <p class="info-1">景點地址：</p>
        <p class="address">臺北市 大安區忠孝東路4段</p>

        <p class="info-2">交通方式：</p>
        <p class="transport">捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</p>
      </div>
    </div>



    
  </main>

  <!-- <p id="watch_end_of_document"></p> -->

  <div class="footer-wrapper">
    <footer class="footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
  </div>

  <script src="/static/attraction.js"></script>
</body>
</html>