<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/attraction.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="bg-modal"></div>
  <div class="form-wrapper">
    <div class="member-form">
      <div class="deco-bar"></div>
      <img src="/static/close-btn.png" class="close-btn" alt="">
      <div class="register">
          <p class="register-text">登入會員帳號</p>
          <input id="username" class="username-field-hidden" type="text" name="username" placeholder="輸入姓名">
          <input id="useremail" type="email" name="useremail" placeholder="輸入電子郵件">
          <input id="password" type="password" name="password" placeholder="輸入密碼">
          <button class="member-btn member-btn-hidden" onclick="register()">註冊新帳戶</button>
          <button class="login-btn" onclick="login()">登入</button>
          <button class="confirm-logout confirm-logout-hidden" onclick="confirmLogout()">確定登出</button>
        <!-- </form> -->
          <p class="already already-or-donthave-hidden" >已經有帳戶了？<span class="click-to-login" onclick="switchToLogin()">點此登入</span></p>
          <p class="dont-have">還沒有帳戶？<span class="click-to-register" onclick="switchToRegister()">點此註冊</span></p>
  
          <p class="system-msg"></p>
      </div>
    </div>
  </div>







  <header class="nav-wrapper">
    <div class="nav">
        <div class="taipei">
          <a href="/">台北一日遊</a>
        </div>

        <div class="nav-actions">
          <div><a>預定行程</a></div>
          <div class=" open-form-btn" onclick="openFrom()"><a>登入/註冊</a></div>
          <div class=" logout-btn logout-btn-hidden" onclick="logout()" ><a>登出系統</a></div>
        </div>
    </div>
  </header>
  <div class="separator"></div>

  <main>
    <div class="wrapper-1">
      <div class="attraction-and-booking">
        <div class="attraction-img-wrapper">
          <img src="/static/attractionBtn-prev.png" class="prev-btn img-btn" alt="">
          <div class="dot-area">
              <!-- <svg class="dot-parent" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <circle cx="6" cy="6" r="5.5" fill="black" stroke="white"/>
              </svg> -->
          </div>
          <div class="carousel">
            <!-- <img class="attraction-img" src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11001481.jpg" alt="img"> -->
          </div>
          <img src="/static/attractionBtn-next.png" class="next-btn img-btn" alt="">
        </div>

        <div class="booking">
            <p class="attraction-name"></p>

            <p class="attraction-class-mrt"></p>

            <div class="booking-detail">
              <p class="detail-1">訂購導覽行程</p>
              <p class="detail-2">
                以此景點為中心的一日行程，帶您探索城市角落故事
              </p>
              <div class="date-picker">
                <p>選擇日期：</p>
                <div class="calendar">
                  <input type="date">
                </div>
              </div>
              
              <div class="time-picker">
                <p>選擇時間：</p>
                <form action="" class="time-picker-form">
                  <label class="time-picker-label-1 time-picker-label" for="morning">
                    <input name="time-picker" id="morning" value="morning" type="radio" class="time-picker-btn" required>
                    <svg class="radio-svgs radio-svgs-1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                      <g clip-path="url(#clip0_3_341)">
                        <circle cx="11" cy="11" r="11" fill="white"/>
                      </g>
                      <defs>
                        <clippath >
                          <rect width="22" height="22" fill="white"/>
                        </clippath>
                      </defs>
                    </svg>
                    上半天
                  </label>
                  <label class="time-picker-label" for="afternoon">
                    <input name="time-picker" id="afternoon" value="afternoon" class="time-picker-btn" type="radio">
                    <svg class="radio-svgs radio-svgs-2" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                      <g clip-path="url(#clip0_3_341)">
                        <circle cx="11" cy="11" r="11" fill="white"/>
                      </g>
                      <defs>
                        <clippath >
                          <rect width="22" height="22" fill="white"/>
                        </clippath>
                      </defs>
                    </svg>
                    下半天
                  </label>
                </form>
              </div>

              <div class="nav-fee">
                <p class="unpriced">導覽費用：</p>

                <p class="price">請選擇時間</p>
              </div>

              <div class="booking-btn">
                <p>
                  開始預約行程
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="wrapper-2">
      <div class="attraction-info"><!-- 這個就不用flex了讓子元素自動width100% -->
        <p class="description"></p>

        <p class="info-1">景點地址：</p>
        <p class="address"></p>

        <p class="info-2">交通方式：</p>
        <p class="transport"></p>
      </div>
    </div>
  </main>

  <div class="footer-wrapper">
    <footer class="footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
  </div>

  <script src="/static/attraction.js"></script>
</body>
</html>