<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/Sass/booking.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="bg-modal"></div>
  <div class="form-wrapper">
    <div class="member-form">
      <div class="deco-bar"></div>
      <img src="/static/close-btn.png" class="close-btn" alt="">
      <div class="register">
          <p class="register-text">登入會員帳號</p>
          <input id="username" class="username-field-hidden" type="text" name="username" placeholder="輸入姓名">
          <input id="useremail" type="email" name="useremail" placeholder="輸入電子郵件">
          <input id="password" type="password" name="password" placeholder="輸入密碼">
          <button class="member-btn member-btn-hidden" onclick="register()">註冊新帳戶</button>
          <button class="login-btn" onclick="login()">登入</button>
          <button class="confirm-logout confirm-logout-hidden" onclick="confirmLogout()">確定登出</button>
          <button class="confirm-delete confirm-delete-hidden" onclick="confirmDeleteBooking()">確定刪除</button>
        <!-- </form> -->
          <p class="already already-or-donthave-hidden" >已經有帳戶了？<span class="click-to-login" onclick="switchToLogin()">點此登入</span></p>
          <p class="dont-have">還沒有帳戶？<span class="click-to-register" onclick="switchToRegister()">點此註冊</span></p>
  
          <p class="system-msg"></p>
      </div>
    </div>
  </div>

  <!-- ------------------------------------------------ -->
  <header class="nav-wrapper">
    <div class="nav">
        <div class="taipei">
          <a href="/">台北一日遊</a>
        </div>

        <div class="nav-actions">
          <div class="booking-btn" onclick="mybooking()"><a>預定行程</a></div>
          <div class="open-form-btn" onclick="openFrom()"><a>登入/註冊</a></div>
          <div class="logout-btn logout-btn-hidden" onclick="logout()" ><a>登出系統</a></div>
        </div>
    </div>
  </header>
  <div class="separator"></div>

  <div class="hello">
    <p class="p-1">您好，<span class="hello-username">會員</span>，待預定的行程如下：</p>
    <p class="no-booking-text">目前沒有任何待預訂的行程</p>
  </div>

  <div class="place-info-area-wrapper">
    <div class="place-info-area">
      <div class="place-img">
        <img class="place-img-src" src="/" alt="">
      </div>

      <div class="place-booking-info">
        <img class="delete-btn" src="/static/delete.png" onclick="deleteBooking()" alt="">
        <!-- <p class="place-name">
          台北一日遊：平安鐘
        </p> -->
        <p class="place-name">
          台北一日遊：
          <span class="place-name-span"></span>
        </p>
      
        <div class="booking-info">
          <p class="key">日期：</p>
          <p class="value date"></p>
        </div>
        <div class="booking-info">
          <p class="key">時間：</p>
          <p class="value time"></p>
        </div>
        <div class="booking-info"> 
          <p class="key">費用：</p>
          <!-- <p class="value">新台幣2000元</p> -->
          <p class="value">新台幣<span class="price"></span>元</p>
        </div>
        <div class="booking-info">
          <p class="key">地點：</p>
          <p class="value"><span class="add"></span></p>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------->
  <div class="separator"></div>
  <!----------------------------->
  <div class="contact-info-wrapper">
    <div class="contact-info">
      <p class="your-contact-info">
        您的聯絡資訊
      </p>
    
      <div class="contact-key">
        <p>聯絡姓名：</p>
        <input type="text" id="input-username">
      </div>

      <div class="contact-key">
        <p>聯絡信箱：</p>
        <input type="text" id="input-useremail">
      </div>
      
      <div class="contact-key">
        <p>手機號碼：</p>
        <input type="text" id="input-userphone">
      </div>

      <p class="please-keep-phone">
        請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
      </p>

    </div>
  </div>
    <!----------------------------->
    <div class="separator"></div>
    <!----------------------------->
    <div class="credit-info-wrapper">
      <div class="credit-info">
        <p class="your-credit-info">
          信用卡付款資訊
        </p>


        <div class="tpfield" id="card-number"></div>
        <div class="tpfield" id="card-expiration-date"></div>
        <div class="tpfield" id="card-ccv"></div>


        <style>
          .tpfield {
              height: 40px;
              width: 300px;
              border: 1px solid gray;
              margin: 5px 0;
              padding: 5px;
          }
        </style>

        <!-- <div class="form-group card-number-group">
          <label for="card-number" class="control-label"><span id="cardtype"></span>卡號</label>
          <div class="form-control card-number"></div>
          </div>
          <div class="form-group expiration-date-group">
          <label for="expiration-date" class="control-label">卡片到期日</label>
          <div class="form-control expiration-date" id="tappay-expiration-date"></div>
          </div>
          <div class="form-group ccv-group">
          <label for="ccv" class="control-label">卡片後三碼</label>
          <div class="form-control ccv"></div>
          </div>
       -->
        <!-- <div class="credit-key">
          <p>卡片號碼：</p>
          <input class="tpfield" id="card-number" type="password" placeholder="**** **** **** ****">
        </div>
  
        <div class="credit-key">
          <p>過期時間：</p>
          <input class="tpfield" id="card-expiration-date" type="text" placeholder="MM / YY">
        </div>
        
        <div class="credit-key credit-key-1">
          <p>驗證密碼：</p>
          <input class="tpfield" id="card-ccv" type="text" placeholder="CVV">
        </div> -->
      </div>
    </div>

    <!----------------------------->
    <div class="separator"></div>
    <!----------------------------->
    <div class="confirm-booking-wrapper">
      <div class="confirm-booking">
        <p>總價：新台幣<span class="price-2"></span>元</p>
        <div class="okk">
          <div class="ok" id="submit">確認訂購並付款</div>
        </div>
        
      </div>
    </div>

    <div class="footer-wrapper">
      <footer class="footer">
        <p>COPYRIGHT © 2021 台北一日遊</p>
      </footer>
    </div>

    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.17.0"></script>


    <script src="/static/booking.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->

  
    <!-- jquery -->



<!-- 
    <script>
      var statusTable = {
          '0': '欄位已填好，並且沒有問題',
          '1': '欄位還沒有填寫',
          '2': '欄位有錯誤，此時在 CardView 裡面會用顯示 errorColor',
          '3': '使用者正在輸入中',
      }
      var defaultCardViewStyle = {
          color: 'rgb(0,0,0)',
          fontSize: '15px',
          lineHeight: '24px',
          fontWeight: '300',
          errorColor: 'red',
          placeholderColor: ''
      }
      var config = { 
          isUsedCcv: false,
          // 此設定會顯示卡號輸入正確後，會顯示前六後四碼信用卡卡號
          isMaskCreditCardNumber: true,
          maskCreditCardNumberRange: {
              beginIndex: 6, 
              endIndex: 11
          }
      }
      TPDirect.card.setup('#tappay-iframe', defaultCardViewStyle, config)
      TPDirect.card.onUpdate(function (update) {

          var submitButton = document.querySelector('#submit')
          var cardViewContainer = document.querySelector('#tappay-iframe')

          if (update.canGetPrime) {
              submitButton.removeAttribute('disabled')
          } else {
              submitButton.setAttribute('disabled', true)
          }

          var message = document.querySelector('#message')

          message.innerHTML = `
              canGetPrime: ${update.canGetPrime} \n
              cardNumberStatus: ${statusTable[update.status.number]} \n
              cardExpiryStatus: ${statusTable[update.status.expiry]} \n
              ccvStatus: ${statusTable[update.status.ccv]}
          `.replace(/    /g, '')

          if (update.hasError) {
              message.classList.add('error')
              message.classList.remove('info')
          } else {
              message.classList.remove('error')
              message.classList.add('info')
          }
      })
      document.querySelector('#submit').addEventListener('click', function(event) {
          TPDirect.card.getPrime(function(result) {
              document.querySelector('#result').innerHTML  = JSON.stringify(result, null, 4)

              var command = `
              Use following command to send to server \n\n
              curl -X POST https://sandbox.tappaysdk.com/tpc/payment/pay-by-prime \\
              -H 'content-type: application/json' \\
              -H 'x-api-key: partner_6ID1DoDlaPrfHw6HBZsULfTYtDmWs0q0ZZGKMBpp4YICWBxgK97eK3RM' \\
              -d '{
                  "partner_key": "partner_6ID1DoDlaPrfHw6HBZsULfTYtDmWs0q0ZZGKMBpp4YICWBxgK97eK3RM",
                  "prime": "${result.card.prime}",
                  "amount": "1",
                  "merchant_id": "GlobalTesting_CTBC",
                  "details": "Some item",
                  "cardholder": {
                      "phone_number": "+886923456789",
                      "name": "王小明",
                      "email": "LittleMing@Wang.com",
                      "zip_code": "100",
                      "address": "台北市天龍區芝麻街1號1樓",
                      "national_id": "A123456789"
                  }
              }'`.replace(/                /g, '')

              document.querySelector('#curl').innerHTML = command
          })
      })
    </script> -->
</body>
</html>