<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="nav-wrapper">
    <div class="nav">
        <div class="taipei">
          <a href="#">台北一日遊</a>
        </div>

        <div class="a">
          <div><a href="#">預定行程</a></div>
          <div><a href="#">登入/註冊</a></div>
        </div>
    </div>
  </header>

  <div class="hero-wrpper">
    <section class="hero">
        <div class="info">
          <div class="slogan">
            <div class="one"><p>輕鬆享受台北一日悠閒</p></div>
            <div class="two"> <p>探索每個角落，體驗城市的深度旅遊行程</p></div>
          </div>

          <div class="three">
            <input type="text" class="user-input">
            <div class="btn-wrapper">
              <img src="/static/icon_search.png" class="submit-btn" alt="">
            </div>
          </div>
        </div>
    </section>
  </div>
  <main>
    <div class="mainwrapper">
      <!-- ==list bar ===--><!-- ==list bar ===--><!-- ==list bar ===-->
      <div class="list-bar">
        <div class="btn-1">
          <img class="btn" id="prev" src="/static/Default.png" alt="">
        </div>
        <div class="place-wrapper">
          <div class="place">
            <!-- <div class="mrt"><p>中正紀念堂</p></div>
            <div class="mrt"><p>劍潭</p></div> -->
          </div>
        </div>
        <div class="btn-2 ">   
          <img class="btn" id="next" src="/static/Default-right.png" alt="">
        </div>
      </div>
      <!-- ==img-zone===-->      <!-- ==img-zone===-->      <!-- ==img-zone===-->
      <div class="img-zone">
        <!--    <div class="imggbox">
          <div class="imgand-mask">
            <div class="mask">
              <p></p>
            </div>
            <img src="" alt="">
          </div>
          
          <div class="textbox-2">
            <div>
              <p></p>
            </div>
            <div>
              <p class="p-2"></p>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </main>

  <p id="watch_end_of_document"></p>

  <div class="footer-wrapper">
    <footer class="footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
  </div>

  <script src="/static/js.js"></script>
</body>
</html>