<!DOCTYPE html>
<html lang="en" class="no-booking-result-html">
<head>
  <link rel="stylesheet" href="/static/Sass/thankyou.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taipei-day-trip</title>
  <link rel="icon" href="/static/IMAGES/tai.jpeg" />
</head>
<body class="no-booking-result-body">
  

 
  <div class="bg-modal"></div>
  <div class="form-wrapper">
    <div class="member-form">
      <div class="deco-bar"></div>
      <img src="/static/IMAGES/close-btn.png" class="close-btn" alt="">
      <div class="register">
          <p class="register-text">登入會員帳號</p>
          <input id="username" class="username-field-hidden" type="text" name="username" placeholder="輸入姓名">
          <input id="useremail" type="email" name="useremail" placeholder="輸入電子郵件">
          <input id="password" type="password" name="password" placeholder="輸入密碼">
          <button class="member-btn member-btn-hidden" onclick="register()">註冊新帳戶</button>
          <button class="login-btn" onclick="login()">登入</button>
          <button class="confirm-logout confirm-logout-hidden" onclick="confirmLogout()">確定登出</button>
          <button class="confirm-delete confirm-delete-hidden" onclick="confirmDeleteBooking()">確定刪除</button>

          <p class="already already-or-donthave-hidden" >已經有帳戶了？<span class="click-to-login" onclick="switchToLogin()">點此登入</span></p>
          <p class="dont-have">還沒有帳戶？<span class="click-to-register" onclick="switchToRegister()">點此註冊</span></p>
  
          <p class="system-msg"></p>
      </div>
    </div>
  </div>


  <header class="nav-wrapper">
    <div class="nav">
        <div class="taipei">
          <a href="/">台北一日遊</a>
        </div>

        <!-- <div class="nav-actions">
          <div class="booking-btn" onclick="mybooking()"><a>預定行程</a></div>
          <div class="open-form-btn" onclick="openFrom()"><a>登入/註冊</a></div>
          <div class="logout-btn logout-btn-hidden" onclick="logout()" ><a>登出系統</a></div>
        </div> -->



        <ul class="nav-actions">
          <p class="booking-btn" onclick="mybooking()">預定行程</p>
          <p class="open-form-btn" onclick="openFrom()">登入/註冊</p>
          <li class="w logout-btn logout-btn-hidden">
            <p style="height: 34px;">會員功能</p> 
            <ul class="drop-down">
              <!-- <li style="height: 34px;">我的最愛</li> -->
              <!-- <li style="height: 34px;">歷史訂單</li> -->
              <li onclick="logout()" style="height: 34px;">登出系統</li>
            </ul>
          </li>
        </ul>
        
    </div>
  </header>


  <div class="hello">
    <p class="p-1">感謝您的訂購，<span class="hello-username">會員</span>，您的訂單編號如下：</p>
    <p class="payment-order-num"></p>
    <p class="p-1 p-1-margin">付款狀態：<span class="is-paid"></span></p>
  </div>

    <div class="footer-wrapper no-booking-result-footer-wrapper">
      <footer class="footer">
        <p>COPYRIGHT © 2021 台北一日遊</p>
      </footer>
    </div>

    <script src="/static/thankyou.js"></script>

</body>
</html>